//
// These are the options that are cluster specific
//
// IRIS version
//

executor {
    name = "slurm"
    queueSize = 500
    perJobMemLimit = true
    perTaskReserve = true
}

//
// This does not work here
//params {
//  reference_base = "/DEBUG/rtsess01/compute/juno/bic/ROOT/rscr"
//}
//

process {

  clusterOptions = "--partition test01"

}
