//
// These are the options that are cluster specific but
// NOT assay (wes,wgs) specific
//
// IRIS version
//
// v1.0.1 2025-07-05
//

executor {
    name = "slurm"
    queueSize = 500
}

//
// This does not work here
// params {
//   reference_base = "/rtsess01/compute/juno/bic/ROOT/rscr"
// }
//

params {
  mem_per_core = false
  publishDirMode = "copy"
  maxWallTime = 167.h
}

process {

  clusterOptions = "--partition test01"
  beforeScript = "unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"

  //
  // DO NOT PUT cluster job resource settings here
  // Those go into the assay specific configs (tempo-wes,
  // tempo-wgs)
  //

}