//
// These are the options that are cluster specific but
// NOT assay (wes,wgs) specific
//
// IRIS version
//
// v2.3.7 2025-09-13
//

executor {
    name = "slurm"
    queueSize = 2000
}

//
// This does not work here
// params {
//   reference_base = "/rtsess01/compute/juno/bic/ROOT/rscr"
// }
//

params {
  mem_per_core = false
  publishDirMode = "copy"
  publish_dir_mode = "copy"
  maxWallTime = 167.h
}

process {

  //clusterOptions = "--partition test01"
  queue = "test01"
  beforeScript = "unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
  scratch = false // true was using /tmp even when TMPDIR set correctly
  //
  // DO NOT PUT cluster job resource settings here
  // Those go into the assay specific configs (tempo-wes,
  // tempo-wgs)
  //

}