/*
 * -------------------------------------------------
 * Neo config 
 * -------------------------------------------------
 * Customizations need to get TEMPO to work in adagio
 * -------------------------------------------------
 */

process {
  clusterOptions = "-R 'cmorsc1'"
}

params {
  //reference_base = "/juno/work/tempo/cmopipeline"
  reference_base = "/rtsess01/compute/juno/bic/ROOT/rscr"
  targets_base   = "${reference_base}/mskcc-igenomes/${params.genome.toLowerCase()}/tempo_targets"
}
