//
// These are the options that are cluster specific
//
// JUNO version
//

executor {
  name = "lsf"
  queueSize = 2500
  perJobMemLimit = true // need this to deal with issues in align-read
  // This also means we need to specify memory by core
}

//
// This does not work here
//params {
//  reference_base = "/DEBUG/rtsess01/compute/juno/bic/ROOT/rscr"
//}
//

process {

  clusterOptions = "-R 'cmorsc1'"

}
