// neo / tempo-wgs version
// Note this is a partial config and is meant to update the
// full neo.conf in the tempo /conf folder
//

executor {
  name = "lsf"
  queueSize = 2500
  perJobMemLimit = true
}

//
// This does not work here
//params {
//  reference_base = "/DEBUG/rtsess01/compute/juno/bic/ROOT/rscr"
//}
//

process {
  clusterOptions = "-R 'cmorsc1'"

  //
  // SomaticCombineChannel
  //
  // 2Gb was not enough even for tiny job
  // and this process uses GetBaseCountsMultiSample which 
  // takes advantage of the fact that it can run in parallel
  // on multiple cores.
  //
  withName:SomaticCombineChannel {
    cpus = { 8 + 8 * task.attempt }
    memory = { 2.GB + 2.GB * task.attempt }
  }

  withName:QcQualimap {
    cpus = { 2 + 2 * task.attempt }
    memory = { task.attempt < 3 ? 12.GB * task.attempt : 48.GB }
  }

  withName:RunBQSR {
    cpus = { 4 * task.attempt }
    memory = { 6.GB + (task.attempt)*6.GB }
    time = { task.attempt < 3 ? 4.h * task.attempt : 16.h }
  }

  // RunMutect2 is hard coded to take 8Gb in `-Xmx8g`
  withName:RunMutect2 {
    cpus = { 1 }
    memory = { 10.GB }
  }

  withName:QcConpair {
    cpus = { 12 }
    memory = { 12.GB * task.attempt }
  }

}
