//
// These should just be the options that do
// _not_ depend on the cluster but the which
// pipeline we are running: wes vs wgs
//
// WES specific options
//


process {

  withName:AlignReads {
    cpus = { 12 }
    memory = { 8.GB } // This is per core even though mem_per_core is false
   }

  withName:MergeBamsAndMarkDuplicates {
    cpus = { 5 + 2 * task.attempt }
    memory = { 32.GB + (task.attempt)*16.GB }
  }

  //
  // SomaticCombineChannel
  //
  // 2Gb was not enough even for tiny job
  // and this process uses GetBaseCountsMultiSample which 
  // takes advantage of the fact that it can run in parallel
  // on multiple cores.
  //
  withName:SomaticCombineChannel {
    cpus = { 8 + 8 * task.attempt }
    memory = { 2.GB + 2.GB * task.attempt }
  }

  withName:QcQualimap {
    cpus = { 2 + 2 * task.attempt }
    memory = { task.attempt < 3 ? 12.GB * task.attempt : 48.GB }
  }

  withName:RunBQSR {
    cpus = { 4 + 4 * task.attempt }
    memory = { 8.GB + 8.GB * task.attempt }
    time = { task.attempt < 3 ? 4.h * task.attempt : 16.h }
  }

  // RunMutect2 is hard coded to take 8Gb in `-Xmx8g`
  withName:RunMutect2 {
    cpus = { 1 }
    memory = { 10.GB }
  }

  withName:QcConpair {
    cpus = { 12 }
    memory = { 12.GB * task.attempt }
  }

  withName:RunPolysolver {
    cpus = { 8 }
    memory = { 8.GB * task.attempt }
  }

  withName:SomaticCombineChannel {
    cpus = { 2 + 2 * task.attempt }
    memory = { task.attempt < 3 ? 8.GB * task.attempt : 16.GB * task.attempt }
  }

}
