// neo / tempo-wgs version
// Note this is a partial config and is meant to update the
// full neo.conf in the tempo /conf folder
//

process {
  time = { task.attempt < 3 ? 12.h * task.attempt  : 48.h }
}

params {
  // max_memory = "128.GB"
  // mem_per_core = true
  minWallTime = 12.h
  medWallTime = 24.h
  maxWallTime = 48.h
}

