//
// These should just be the options that do
// _not_ depend on the cluster but the which
// pipeline we are running: wes vs wgs
//
// WGS specific options
//
// This one is hard coded with IRIS specific limits
//

params {
    max_records_in_ram = "5000000" 
}

process {

  //time = { task.attempt < 3 ? 24.h * task.attempt  : 100.h }
  time = { task.attempt < 3 ? 48.h * task.attempt  : 167.h }
  memory = { 3.Gb }

  withLabel:multiqc_process { // SampleRunMultiQC , SomaticRunMultiQC , CohortRunMultiQC
    cpus = { 17 * task.attempt }
    memory = { 34.GB * task.attempt }
    time = { task.attempt < 3 ? 30.h * task.attempt : 167.h }
  }

  // This does not seem to work
  // withLabel:SomaticRunMultiQC { // SampleRunMultiQC , SomaticRunMultiQC , CohortRunMultiQC
  //   cpus = { 17 * task.attempt }
  //   memory = { 34.GB * task.attempt }
  //   time = { task.attempt < 3 ? 30.h * task.attempt : 167.h }
  // }

  withName:SomaticCombineChannel {
    cpus = { 17 * task.attempt }
    memory = { 34.GB * task.attempt }
    time = { task.attempt < 3 ? 30.h * task.attempt : 167.h }
  }

  withName:RunPolysolver {
    cpus = { 8 }
    memory = { 16.GB * task.attempt }
  }

  withName:QcQualimap {
    cpus = { 4 * task.attempt }
    memory = { 128.GB * task.attempt }
  }

  withName: '.*RunSvABA' {
    cpus = { 17 * task.attempt }
    memory = { 34.GB * task.attempt }
    time = { task.attempt < 3 ? 30.h * task.attempt : 167.h }
  }

  withName:SomaticRunManta {
    cpus = { 17 * task.attempt }
    memory = { 34.GB * task.attempt }
    time = { task.attempt < 3 ? 30.h * task.attempt : 167.h }
  }

  withName:SomaticDellyCall {
    cpus = { 17 * task.attempt }
    memory = { 34.GB * task.attempt }
    time = { task.attempt < 3 ? 48.h * task.attempt  : 167.h }
  }

  withName:'runBRASS.+' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB * task.attempt }
    time = { task.attempt < 3 ? 10.h * task.attempt : 167.h }
  }

  withName:SomaticRunStrelka2 {
    cpus = { 17 * task.attempt }
    memory = { 34.GB * task.attempt }
    time = { task.attempt < 3 ? 48.h * task.attempt  : 167.h }
  }

  withName:GermlineRunStrelka2 {
    cpus = { 17 * task.attempt }
    memory = { 34.GB * task.attempt }
    time = { task.attempt < 3 ? 48.h * task.attempt  : 167.h }
  }

  //
  // Adjust 2024-11-15 - roughly half crashed but unknown reason
  //
  withName:RunLOHHLA {
    cpus = { 17 * task.attempt }
    memory = { 34.GB * task.attempt }
    time = { task.attempt < 3 ? 6.h * task.attempt  : 24.h }
  }

  // RunMutect2 is hard coded to take 8Gb in `-Xmx8g`
  withName:RunMutect2 {
    cpus = { 1 }
    memory = { 10.GB }
  }

}
